@using OneVietnam.Models
@model OneVietnam.Models.UserViewModel
<div class="ui fluid card user-card">

    <div class="content" onclick="location.href = '@Url.Action("Index", "Timeline", new { Id = @Model.UserId })'">
        <img class="right floated mini ui image" src="@Model.Avatar">
        <div class="header">
            @Model.UserName
        </div>
        <div class="meta">
            @if (@Model.Location.Address.Length > 65)
            {
                @Model.Location.Address.Substring(0, 60);
            }
            else
            {
                @Model.Location.Address
            }
        </div>
        <div class="description">
            Tham gia @Model.JoinedDate
        </div>
        @if (@Model.PhoneNumber != null)
        {

            <i class="icon mobile"> </i>@Model.PhoneNumber

        }
    </div>
    <div class="extra content">
       
            <a class="ui fluid basic green button" href="javascript: CallRegisterPopUp('@Model.UserId','@Model.UserName','@Model.Avatar')" onclick="return hideModel()">Nhắn tin</a>
     
    </div>
    <div id="ShowReportUser_@Model.UserId">
        @Html.Partial("../Timeline/_ReportUser", new ReportViewModel(Model.UserId))
    </div>
    
</div>